/* css reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
  }
  
  body {
    max-width: 1440px;
    background-color: #f0f4f5;
    /* overflow: hidden; */
    margin: auto;
  }
  
  /* designing the navigation menu */
  nav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
  }
  
  /* designing the logo */
  nav img {
    width: 150px;
  }
  
  /* desiging the navigation menu links */
  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
  }
  
  nav ul li:first-child {
    font-weight: 700;
    color: #20bc7e;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  

  /* section styling */
  section{
    margin: 3px 3px;
  }
  section div{
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 5%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin: 3% 5%;
    cursor: pointer;
  }

  section div h1{
    font-size: 70px;
    /* color: #20bc7e; */
    border-bottom: 1px solid black;
  }
  section div h1 a{
    color: #20bc7e;
  }
  section div p{
    font-size: 26px;
    line-height: 50px;
    margin: 2% 0;
  }
  section div ul{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    float: left;
  }
  section div ul li{
    float: left;
    line-height: 22px;
  }